<?xml version="1.0" ?>

<robot name="robot_arm">

    <link name="robot_base">
        <visual>
            <origin xyz="0 0 0.025" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.05"/>
            </geometry>
            <material name="grey">
                <color rgba="0.6 0.6 0.6 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.2 0.05"/>
            </geometry>
        </collision>
    </link>

    <link name="waist_link">
        <visual>
            <geometry>
                <cylinder radius="0.06" length="0.15"/>
            </geometry>
            <material name="blue">
                <color rgba="0.2 0.2 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.06" length="0.15"/>
            </geometry>
        </collision>
    </link>

    <joint name="j1_waist" type="revolute">
        <parent link="robot_base"/>
        <child link="waist_link"/>
        <origin xyz="0 0 0.12" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>

    <!-- J2 -->

    <link name="shoulder_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
            <geometry>
                <cylinder radius="0.04" length="0.14"/>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.14"/>
            </geometry>
        </collision>
    </link>

    <joint name="j2_shoulder" type="revolute">
        <parent link="waist_link"/>
        <child link="shoulder_link"/>
        <origin xyz="0.10 0 0.02" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="shoulder_arm">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.04" length="0.35"/>
            </geometry>
            <material name="green">
                <color rgba="0.2 0.8 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.35"/>
            </geometry>
        </collision>
    </link>

    <joint name="a1_shoulder" type="fixed">
        <parent link="shoulder_link"/>
        <child link="shoulder_arm"/>
        <origin xyz="0.027 0 0.18" rpy="0 0 0"/>
    </joint>

    <!-- J3 -->

    <link name="elbow_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
            <geometry>
                <cylinder radius="0.04" length="0.16"/>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.16"/>
            </geometry>
        </collision>
    </link>


    <joint name="j3_elbow" type="revolute">
        <parent link="shoulder_arm"/>
        <child link="elbow_link"/>
        <origin xyz="-0.09 0 0.134" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>


    <link name="elbow_arm">
        <visual>
            <geometry>
                <cylinder radius="0.04" length="0.35"/>
            </geometry>
            <material name="green">
                <color rgba="0.2 0.8 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.35"/>
            </geometry>
        </collision>
    </link>

     <joint name="a2_elbow" type="fixed">
        <parent link="elbow_link"/>
        <child link="elbow_arm"/>
        <origin xyz="-0.04 0 0.18" rpy="0 0 0"/>
    </joint>

    <!-- J4 -->

    <link name="wrist_link">
        <visual>
            <geometry>
                <cylinder radius="0.04" length="0.05"/>
            </geometry>
            <material name="purpel">
                <color rgba="0.8 0.2 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.05"/>
            </geometry>
        </collision>
    </link>

    <joint name="j4_wrist" type="revolute">
        <parent link="elbow_arm"/>
        <child link="wrist_link"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>

    <!-- J5 -->

    <link name="wrist_pitch_link">
        <visual>
            <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
            <geometry>
                <cylinder radius="0.02" length="0.08"/>
            </geometry>
            <material name="red">
                <color rgba="0.8 0.2 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.02" length="0.08"/>
            </geometry>
        </collision>
    </link>

    <joint name="j5_wrist" type="revolute">
        <parent link="wrist_link"/>
        <child link="wrist_pitch_link"/>
        <origin xyz="0.06 0 0" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>

    <link name="wrist_arm">
        <visual>
            <geometry>
                <cylinder radius="0.02" length="0.08"/>
            </geometry>
            <material name="green">
                <color rgba="0.2 0.8 0.2 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.02" length="0.08"/>
            </geometry>
        </collision>
    </link>

     <joint name="a3_wrist" type="fixed">
        <parent link="wrist_pitch_link"/>
        <child link="wrist_arm"/>
        <origin xyz="0.01 0 0.04" rpy="0 0 0"/>
    </joint>

    <!-- J6 -->

     <link name="wrist_yaw_link">
        <visual>
            <geometry>
                <sphere radius="0.03"/>
            </geometry>
            <material name="purpel">
                <color rgba="0.8 0.2 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.03"/>
            </geometry>
        </collision>
    </link>

    <joint name="j6_wrist" type="revolute">
        <parent link="wrist_arm"/>
        <child link="wrist_yaw_link"/>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-3.14159" upper="3.14159" effort="100.0" velocity="1.0"/>
    </joint>


</robot>
